<p id="notice"><%= notice %></p>



      <style type="text/css">
      th {padding-left : 50px;color:#666}
      </style>

      <style type="text/css">
      h1_big {padding-left : 50px;color:#6699CC;font-weight:800;font-size:30px;}
      </style>

      <style type="text/css">
      td {padding-left : 50px;color:#999;font-weight:500;font-size:20px;}
      </style>

      <style type="text/css">
      new_post {padding-left : 50px;color:#6699CC;font-weight:500}
      </style>

        <style>
      	a#textColorStyle:link {color:#FF0000;};
      	a#textColorStyle:visited {color:#00FF00;};
      	a#textColorStyle:hover {color:#FF00FF;};
      	a#textColorStyle:active {color:#0000FF;};
        </style>


<h1_big>Posts</h1_big>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<new_post><a><%= link_to 'New Post', new_post_path %></a></new_post>
